.movieInput {
    background-color: transparent;
    border: 2px solid rgb(13, 10, 209);
    border-radius: 8px;
    padding: 8px 16px;
    position: fixed;
    z-index: 999;
    left: 41%;
    top: 20px;
    width: 240px;
    box-sizing: border-box;
    outline: none;
    color: black;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}